@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


.error{
    color: red;
    font-size: 1em;   
    font-weight: 700;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.normal{
    color: black;
    font-size: 1em;
    font-weight: 700;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    height: 560px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 700;    
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{   
    color: white;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(71, 55, 55, 0.295);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;    
}
::placeholder{
    color: black;
    font-weight: 700;
}
/* button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
} */

button:hover {
    background: linear-gradient(0deg, rgba(7, 241, 38, 0.795) 0%, rgb(182, 245, 9) 100%);
    cursor: pointer;    
    color:white;
  } 

.Btn {
    background-color: rgba(71, 55, 55, 0.295);
    cursor: pointer;   
    color:black; 
    margin-top: 50px;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset -2px -2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  } 


.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}