.nav{    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background-color: #0000007a;
    width:100%;
    height: 100%;
    margin-bottom: 15px;
    color: white;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:white;
}

.links,
.links::after {
 color: #fff;
}

.links::after {
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
}

.logout,
.logout::after {  
    color: #fff;   
}

.logout::after {    
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;    
}



